.container{
    display: flex;
    background-color: rgb(123, 179, 139);
}

.container h3{
    font-size: 16px;
    font-weight:normal;
}

.tamanho{
    width: 20%;
}

.logosalvus{
    width: 20%;
    background: url(../assets/simbolo.png);
    background-size: cover;
}