.container{
    background: url(../assets/blur3.png);
    display: flex;
    height: 756px;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
    
}

.caixa{
    
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;;
    background-color: rgba(3, 168, 119, 0.932);
    width: 400px;
    
    border-radius: 30px;
}

.caixa input, option, select{
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    margin-left: 30px;
    margin-right: 50px;
}

.caixa label {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
}

 .buttonProximo{
     display: flex;
    justify-content: center;
    height: 30px;
}

.buttonProximo button{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(168, 212, 150);
}

.buttonProximo button:hover{
    background-color: rgb(131, 224, 118);
}
